
<div class="container">

    <form method="post" enctype="multipart/form-data">
        <input type="text" name="machine">
        <label>Masinos pavadinimas</label>
        <input type="text" name="about">
        <label> Textas apie masina</label>
        <input type="file" name="image">
        <label>Nuotrauka</label>
        <button type="submit">Ikelti info</button>
    </form>


</div>