

{{!-- <div class="container"> --}}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Machine</th>
                <th scope="col">Img</th>
                <th scope="col">Bout machine</th>

            </tr>
        </thead>

        <tbody>
            {{# each machines}}
            <tr>
                 <td>{{id}}</td>
                <td>{{machine_name}}</td>
                <td>{{img}}</td>
                <td>{{about}}</td>
                

            </tr>
               

            
            {{/each}}
        </tbody>
    </table>


{{!-- </div> --}}