

<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Machine</th>
                <th>Bout machine</th>
                <th>Img</th>

            </tr>
        </thead>

        <tbody>
            <th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </th>
        </tbody>
    </table>


</div>