

<div class="container-home">

    {{# each machines}}
{{!-- visada pasitikrinti aratkeliaujanciu key vardai sutinka su cia uzrasytais --}}
    <img src="{{img}}" alt="nera kolkas" width="600px">
    <h3>{{machine_name}}</h3>
    <p>{{about}}</p>

    {{/ each}}


</div>