
<div class="container">

    <form class="login_form" method="post">

        <input type="email" name="email">
        <label> Jusu el pasto adresas </label>
        <input type="password" name="passwors">
        <label> Jusu slaptazodis</label>
        <button type="submit">Prisijungti</button>

    </form>

</div>